<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="icon" href="../img/favicon.svg">

    <title>Spyonic</title>
</head>

<body>
    <header id="header">
        <img src="../img/logonew.png" alt="logo" id="logo">
        <nav class="nav" id="nav">
            <a href="#">Home</a>
            <a href="#">Devices</a>
            <a href="#">About</a>
        </nav>
    </header>
    <main class="main" id="main">
        <div id="heading">
            <a id="nav-icon" onclick="sidebar()"><span id="menu-icon">&#9776;</span></a>
            <h2 onclick="eel.func()">{% block heading %}Dashboard{% endblock %}</h2>
        </div>
        <div id="content-grid">
        <div class="content">{% block content1 %} Content 1{% endblock %}</div>
        <div class="content">{% block content2 %} Content 2{% endblock %}</div>
        <div class="content">{% block content3 %} Content 3{% endblock %}</div>
        <div class="content">{% block content4 %} Content 4{% endblock %}</div>
        </div>
    </main>
    <footer id="footer">
        <p>&copy;Project by Uday ,Nidhin and Farha</p>
    </footer>
</body>
<script type="text/javascript" src="../js/index.js"></script>

</html>